canvas-design/output/
**__pycache__**

# gstack setup generated symlinks
autoplan
benchmark
browse
canary
careful
checkpoint
codex
connect-chrome
cso
design-consultation
design-html
design-review
design-shotgun
document-release
freeze
gstack-upgrade
guard
health
investigate
land-and-deploy
learn
office-hours
plan-ceo-review
plan-design-review
plan-eng-review
qa
qa-only
retro
review
setup-browser-cookies
setup-deploy
ship
unfreeze
