canvas-design/output/

# gstack setup generated symlinks
autoplan
benchmark
browse
canary
careful
codex
cso
design-consultation
design-review
document-release
freeze
gstack-upgrade
guard
investigate
land-and-deploy
office-hours
plan-ceo-review
plan-design-review
plan-eng-review
qa
qa-only
retro
review
setup-browser-cookies
setup-deploy
ship
unfreeze
